<html>
<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SERVITS | Principal</title>
        <link rel="stylesheet" href="/css/estilos.css">
        <link rel="ICON" type="JPG/ICON" href="logo.ico">
    </head>
<header>
  <link rel="stylesheet" type="text/css" href="estilos.css">
  <meta charset="utf-8">

  <img src="https://i.ibb.co/df4fBgf/logo.png" class="logo">
  </header>
  <body>
    <div id="texto">
    <h2 >Registrate</h2>
    <script src="script.js"></script>


  <p>Por favor complete este formulario para crear una cuenta.</p>
</div>
    <form action="/validar" method="post" id="miFormulario" onsubmit="return validarFormulario()">
      <div id="registro">
      <label for="nombre">Usuario</label>
      <input type="text" id="nombre" name="nombre" required>
    </div>
 
  <div id="registro">
    <label for="contrasena">Contraseña</label>
    <input type="password" id="contrasena" name="contrasena" required>
  </div>
  
  <div id="registro">
    <label for="confirmarcontrasena">Confirmar Contraseña</label>
    <input type="password" id="confirmarContrasena" name="confirmarContrasena" required>
  </div>
</div>

<div id="botones">
 
 
    <button input type="submit" value= "Registrar" id="Entrar">Entrar</button>



</div>

</form>

<p id="cuenta">¿Ya tienes una cuenta? <a>Ingresa aquí</a>.</p>


<script src="script.js"></script>


  </body>
  </html>
  